h1, h2, h3, p, a {
  font-family: sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: red;
}

section h3 {
  border-bottom: 1px solid;
  width: 200px;
}

/* layout */

body {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header, footer {
  background-color: lightskyblue;
}

header, aside, footer {
  padding: 0 20px;
}

header, aside, section, footer {
  flex: 1 100%;
}

header, aside, footer {
  display: flex;
}

aside, section {
  margin: 10px 0 10px 50px;
}

header ul, footer ul {
  display: flex;
  align-items: center;
}

header ul li, footer ul li {
  margin-right: 30px;
}

section ul {
  margin-bottom: 50px;
}

@media all and (min-width: 600px) {

  aside {
    flex: 1;
  }

  section {
    flex: 3;
  }

}

@media only screen and (max-width: 480px) {

  body {
    width: 350px;
  }

}
