a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline red;
}

body {
  display: flex;
  margin: 0;
}

nav {
  background-color: lightskyblue;
  padding: 100px 50px 400px 20px;
  text-align: center;
}

nav li {
  list-style: none;
}

nav a {
  display: block;
  margin: 20px;
}

main {
  margin: 50px 100px;
  display: grid;
  grid-template-columns: 250px 250px;
  grid-gap: 50px;
}

.card h2 {
  width: 200px;
  border-bottom: 1px solid;
}
