/* reset */

body, header, aside, section, footer,
div, ul, li, img,
h1, h2, h3, p, a {
  font-family: sans-serif;
  color: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

a:hover {
  color: red;
}

/* layout */

header, aside, section, footer {
  display: flex;
}

header, footer {
  background-color: lightskyblue;
  padding: 10px 100px;
  justify-content: flex-end;
}

header ul, footer ul {
  display: flex;
}

header li, footer li {
  margin: 0 10px;
}

aside, section {
  margin: 50px 0;
  justify-content: space-around;
}

aside img {
  transform: scale(0.8);
}

section div {
  padding: 0 20px 50px;
}

h3 {
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {

  header, section, footer {
    display: grid;
    justify-content: center;
  }

}
